#section1
{
    height: 92vh;
}
#p1 {
  text-shadow: rgb(8, 8, 8) 1px 0 10px;
}
body
{
    -webkit-background-size: cover;
  -moz-background-size: cover;
    background-image: url("../img/Sac.jpg");
        -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
blockquote {
  font-family: Georgia, serif;
  font-size: 1rem;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
  }
  
  blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 5rem;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
  }
  
  blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
  }
   
  blockquote cite:before {
  content: "\2014 \2009";
  }

@media screen and (min-width: 769px) {
  blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: 160px;
    top: -20px;
    color: #7a7a7a;
  }
}
@media screen and (max-width: 1200px){
  blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 5rem;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
    }
}
@media screen and (min-width: 377px) and (max-width: 1024px){
  body
  {
    background-image: url("../img/Sac.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position : center;
  }
}
@media screen and (max-width: 375px) {
  body
  {
    background-image: url("../img/Sac.jpg");
    background-attachment: unset;
    background-repeat: no-repeat;
    background-size: cover;
    background-position : center;
  }
}
@media screen and (min-width: 768px) {
  #cardDescription
  {
    text-align : start;
  }
}
nav
{
  background-color: rgba(126, 76, 49, 0.5);
  -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
  backdrop-filter: blur(15px);
}
/* .nav-link {
  width: 9vw;
} */
.container-fluid
{
  max-width: 1200px;
  margin: auto;
}
#aboutSection
{
    background-color: #EBECF0;
}
#experienceSection
{
   background-color: white;
   overflow:hidden;
}
.badge
{
    background-color: #F5A651;
}
.single-chart {
    width: 30%;
    justify-content: space-around ;
    margin-right: 2rem;
  }
  
  .circular-chart {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 6rem;
    margin-top: 25%;
    text-align: center;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #F5A651;
  }
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }
  .skill
  {
    height: 10rem;
    background-color: #fff;
    border-radius: 4px;
    width: 18rem;
    margin-bottom: 20px;
    display: inline-block;
  }
  .skill .name
  {
    width: 50%;
    float: left;
    height : 100%;
    background-color: #715241;
    z-index: 100;
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
  }
  .arrow
  {
    border-color: transparent transparent transparent #715241;
    border-style: solid;
    border-width: 9px;
    width: 0;
    height: 0;
    float: right;
    margin-right: -18px;
    margin-top: 75px;
    position: relative;
  }
  .label
  {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
  }
  .skill .label
  {
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 70px;
    width: 100%;
    float: left;
  }
  .skill .chart
  {
    z-index: 90;
    float: left;
    width: 50%;
    text-align: center;
  }
#skillsSection
{
    background-color: #F0E9E5;
    overflow:hidden;
}
/* CSS TIMELINE */
/* .timeline2 {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 550px;
  top: calc(100%-600px);
  position: relative;
  scroll-behavior:  smooth ;
} */
.timeline2   *, .timeline2   *::before, .timeline2   *::after { 
  /* font: normal 16px/1.5 "Helvetica Neue", sans-serif; */
  /* color: #715241; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.timeline2::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
 
.timeline2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
 
.timeline2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
 
.timeline2 ul {
  /* background: #456990; */
  /* padding: 50px 0; */
}

.timeline2 ul li {
  list-style-type: none;
  position: relative;
  width: 2px;
  margin: 0 auto;
  padding-top: 10px;/* 50px; */
  padding-bottom: 10px;/* padding-bottom: 20px; = center padding-bottom: 10px; = center */
  background: #715241; /* background: black;  */
  /* border-left: 5px double white; */
}

 
.timeline2 ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 30px; /* bottom: 0;  bottom: 50%;=center top: 30px;=top  */ 
  transform: translateX(-55%);/* transform: translateX(-50%); */
  -webkit-transform: translateX(-55%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  border: 2px solid #EBECF0;
  
}

.timeline2 ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #EBECF0;
  border-radius: 10px;
}

.timeline2 ul li div::before {
  content: '';
  position: absolute;
  top: 20px; /* bottom: 7px; bottom: 50%;=center top: 20px;=top */
  
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline2 ul li:nth-child(odd) div {
  left: 45px;
}

.timeline2 ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 16px 16px 16px 0;/* border-width: 8px 16px 8px 0; */
  border-color: transparent #EBECF0 transparent transparent;
}

.timeline2 ul li:nth-child(even) div {
  left: -439px;
}

.timeline2 ul li:nth-child(even) div::before {
  right: -15px;
    border-width: 16px 0 16px 16px; /* border-width: 8px 0 8px 16px; */
  border-color: transparent transparent transparent #EBECF0;
}


.timeline2 ul li:nth-child(odd) .time {
  position: absolute;
  top: 24px;
  left: -250px;
  width: 212px;
  background-color : #F5A651;
  padding: 10px;
  border-radius : 4px;
  color: white;
  text-align: center;
}
.timeline2 ul li:nth-child(even) .time {
  position: absolute;
  top: 24px;
  right: -250px;
  width: 221px;
  background-color : #F5A651;
  padding: 10px;
  border-radius : 4px;
  color: white;
  text-align: center;
}


.timeline2 time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline2 ul li::after {
  /* transition: background .5s ease-in-out;
  -webkit-transition: background .5s ease-in-out; */
  height: 30px;
  width: 30px;
  background-color: #F5A651;
  border: 5px solid #fff;
  border-radius: 15px;
  position: absolute;
}

.timeline2 ul li.in-view::after {
  height: 30px;
  width: 30px;
  background-color: #F5A651;
  border: 5px solid #fff;
  border-radius: 15px;
  position: absolute;
}

/* .timeline2 ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.timeline2 ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
  -webkit-transform: translate(200px, 0, 0);
}

.timeline2 ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
  -webkit-transform: translate(-200px, 0, 0);
} */

/* .timeline2 ul li.in-view div {
  transform: none;
  -webkit-transform: none;
  visibility: visible;
  opacity: 1; */
  /* disabled when arrow is on top position
  border-radius: 10px;
  */
}

/* .timeline2 ul li  .time {
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transform: rotate(-90deg);
  -webkit-transform:rotate(270deg);
}
.timeline2 ul li.in-view  .time {
  transform: rotate(0deg);
  -webkit-transform:rotate(0deg);
} */

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 600px) and (max-width: 900px) {
  .timeline2 ul li div {
  width: 30vw;
  }

}

@media screen and (max-width: 900px) {
  .timeline2 ul li div {
  width: 250px;
  }
  .timeline2 ul li:nth-child(even) div {
  left: -289px;
  /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline2 ul li {
  margin-left: 20px;
  }
  .timeline2 ul li div {
  width: calc(100vw - 120px);
  }
  .timeline2 ul li:nth-child(even) div {
  left: 45px;
  }
  .timeline2 ul li:nth-child(even) div::before {
  left: -15px;
  border-width: 16px 16px 16px 0; /* border-width: 8px 16px 8px 0;  */
  border-color: transparent #EBECF0 transparent transparent;
  }
  
  
  .timeline2 ul li:nth-child(odd) .time {
    position: absolute;
    top: 130px;
    left: -42px;
    width: 130px;
    
    transform: rotate(-90deg);
    -webkit-transform:rotate(270deg);
   
    /* transform: rotate(0deg);
    -webkit-transform:rotate(0deg); */
    color : rgb(92, 90, 90);
    padding: 0;
    background-color: #ebecf000;
    font-weight: bold;
  }
  .timeline2 ul li:nth-child(even) .time {
    position: absolute;
    top: 108px;
    left: -42px;
    width: 130px;
    
    transform: rotate(-90deg);
    -webkit-transform:rotate(270deg);
   
    /* transform: rotate(0deg);
    -webkit-transform:rotate(0deg); */
    color : rgb(92, 90, 90);
    padding: 0;
    background-color: #ebecf000;
    font-weight: bold;
  }
  .timeline2 ul li.in-view:nth-child(odd) .time {
    transform: rotate(-90deg);
    -webkit-transform:rotate(270deg);					 
  }
  .timeline2 ul li.in-view:nth-child(even) .time {
    transform: rotate(-90deg);
    -webkit-transform:rotate(270deg);
  }
  
}
#contactSection
{
  background-color: #EBECF0;
}
.Cards
{
  width: 17rem;
  background-color:#F5A651;
  border-radius: 15px;
}
#degreeSection {
  background-color: #F0E9E5;
  overflow:hidden;
}
footer
{
  background-color: #715241;
}
.orangeColor
{
  color: #F5A651;
}
.textOpacity
{
  color:rgba(129, 129, 128, 0.75);
}
.details1, .details2 {
  width: 39%;
  float: left;
  height : 120px;
  background-color:#fff;
  border-radius: 5px;
  position: relative;
  z-index: 100;
  display: table;
}
.year {
  background-color: #715241;
  height: 120px;
  border-radius: 5px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  float: left;
  width: 20%;
  z-index: 500;
  position: relative;
  display: table;
}
.dot {
  height: 30px;
  width: 30px;
  background-color: #F5A651;
  border: 5px solid #fff;
  border-radius: 15px;
  position: absolute;
}
.leftDot {
  left: -20px;
  top: 44px;
}
.rightDot {
  top: 44px;
  right: -20px;
}
.education {
  min-height: 120px;
}
.details1 p, .details2 p {
  font-size: 0.75rem;
}
.details1:first-child {
  color: #715241;
}
.card-body {
  top: 50%;
  display: table-cell;
  vertical-align: middle;
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (max-width:650px){
  .dot {
    height: 40px;
    width: 40px;
    background-color: #F5A651;
    border: 7px solid #fff;
    border-radius: 20px;
    position: absolute;
  }
  .education {
    display: table;
  }
  .details1, .details2, .year {
    width: 100%;
    margin-bottom: 5px;
  }
.leftDot {
    position: absolute;
    top: -32px;
    left: 42%;
  }
.rightDot {
    right: 43%;
    top:  110px;
  }
.year p{
    margin-top: 7%;
  }
}
#achievementsSection
{
   background-color: white;
}
.card-body i:hover {
  top: 6px;
}
.card-body i {
	transition-property: top;
	-webkit-transition-property: top;
	transition-duration: .3s;
	transition-timing-function: ease-out;
	top: 0;
	position: relative;
}
footer a {
  color :#fff;
  transition-duration: 500ms;
}
footer a:hover {
  color :#F5A651;
}
footer p {
  font-size : 0.8rem;
}